body header, body header div, body header nav ul, body main div a {
  display: flex;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none !important; }

body {
  background-color: black; }
  body header {
    justify-content: space-around;
    color: white;
    padding: 30px 0; }
    body header div h1 {
      font-size: 60px; }
      body header div h1 a {
        color: white; }
    body header div i.icono-header {
      padding: 25px 20px 20px;
      font-size: 30px;
      --fa-animation-duration: 5s;
      color: #621d00; }
    body header nav svg.menu {
      display: none;
      color: white;
      width: 50px;
      height: 50px; }
    body header nav ul li {
      font-style: italic;
      padding-left: 50px;
      list-style: none;
      font-size: 30px; }
      body header nav ul li a {
        color: white; }
  body main {
    padding: 45px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: white; }
    body main div.cita {
      height: 100%;
      padding-left: 20%;
      display: grid;
      align-items: center; }
      body main div.cita h2 {
        font-size: 28px;
        line-height: 3;
        font-style: italic;
        text-align: center; }
    body main div.botella {
      background-image: url("../img/fireplace.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right;
      display: flex;
      justify-content: center;
      overflow: hidden;
      margin-left: 200px; }
      body main div.botella img {
        width: 315px;
        height: 690px; }
    body main section {
      display: grid;
      justify-content: center;
      padding-left: 200px;
      width: 800px; }
      body main section iframe {
        width: 100%; }
      body main section h2 {
        font-size: 35px;
        text-align: center;
        padding-bottom: 70px; }
      body main section p {
        font-size: 23px;
        text-align: center; }
      body main section ul {
        margin-top: 30px;
        font-size: 20px; }
        body main section ul li {
          margin-bottom: 10px; }
      body main section div.flechas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; }
      body main section div {
        display: flex;
        justify-content: center;
        padding-top: 70px; }
    body main div.icono-redes {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 60vh;
      width: 100vw;
      align-items: center;
      background: linear-gradient(0deg, black 0%, #4f1f00 45%, #4f1f00 55%, black 100%); }
    body main div a {
      font-size: 50px;
      color: white;
      justify-content: center; }
      body main div a p {
        padding-left: 40px;
        margin-bottom: 0; }
  body footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #621d00; }

@media screen and (max-width: 480px) {
  body header {
    justify-content: space-between;
    width: 100vw; }
    body header div {
      width: 50%;
      padding-left: 30px; }
      body header div h1 {
        font-size: 40px; }
      body header div i.icono-header {
        display: none; }
    body header nav {
      width: 480px; }
      body header nav ul li {
        display: none; }
      body header nav svg.menu {
        display: block;
        position: absolute;
        top: 60px;
        right: 30px; }
  body main {
    padding: 0;
    grid-template-columns: 1fr; }
    body main div.cita {
      padding: 10px 30px 25px 30px; }
      body main div.cita h2 {
        font-size: 22px;
        line-height: 2; }
    body main div.botella {
      margin-left: 0; }
      body main div.botella img {
        width: 35%;
        height: 35%; }
  body footer p {
    margin-bottom: 0;
    text-align: center; } }
