@import "utilidades/extend";
@import "utilidades/mixin";
@import "utilidades/variables";

//ESTILOS GENERALES
*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none !important;
}


body{
    background-color: $color-fondo;
    //HEADER
    header{
        @extend %flex-center;
        justify-content: space-around;
        color: $color-font-principal;
        padding: 0;
        background-color: $color-fondo-secundario;
        -webkit-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
        -moz-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
        box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
        div{
            @extend %flex-center;
            h1{
                font-size: 60px; 
                a{
                    color: $color-font-principal;
                }
            }
            i.icono-header{
                padding: 25px 20px 20px;
                font-size: 30px;
                --fa-animation-duration: 5s;
                color: $color-font-secundario;
            }
        }
        nav{
            button.btn{
                padding-right: 40px;
                background-color: transparent;
                border: none;
            }
            div.offcanvas-xl{
                div.offcanvas-header{
                    button.btn-close{
                        position: absolute;
                        right: 52px;
                        top: 20px;
                    }
                }
                div.offcanvas-body{
                    ul{
                        @extend %flex-center;
                        position: inherit;
                        margin-bottom: 0;
                        li{
                            font-style: italic;
                            padding-left: 50px;
                            list-style: none;
                            font-size: 30px;  
                            width: 220px;
                            text-align: center;
                            :hover{
                                transition: 0.7s;
                                color: rgb(104, 50, 31);
                            }
                            a{
                                color: $color-font-principal;
                            }
                        }
                    }
                }
            }
        }
    }
    //MAIN
    main{
        padding: 65px 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        color: $color-font-principal;
        div.cita{
            height: 100%;
            padding-left: 20%;
            display: grid;
            align-items: center;
            h2{
                font-size: 28px;
                line-height: 3;
                font-style: italic;
                text-align: center;
            }
        }
        div.botella{
            background-image: url("../img/fireplace.jpg");
            background-size: 600px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin-left: 200px;
            img{
                width: 315px;
                height: 690px;
            }
        }
        section{
            display: grid;
            justify-content: center;
            padding-left: 200px;
            width: 800px;
            iframe{
                width: 100%;
            }
            h2{
                font-size: 35px;
                text-align: center;
                padding-bottom: 70px;    
            }
            p{
                font-size: 23px;
                text-align: center;
            }
            ul{
                margin-top: 30px;
                font-size: 20px;
                li{
                    margin-bottom: 10px;
                }
            }
            div.flechas{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }
            div{
                display: flex;
                justify-content: center;
                padding-top: 70px;
            }
        }
        div.icono-redes{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 60vh;
            width: 100vw;
            align-items: center;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(79,31,0,1) 45%, rgba(79,31,0,1) 55%, rgba(0,0,0,1) 100%);
        }
        div{
            a{
                @extend %flex-center;
                font-size: 50px;
                color: $color-font-principal;
                justify-content: center;
                p{
                    padding-left: 40px;
                    margin-bottom: 0;
                }
            }
        }
    }
    //FOOTER
    footer{
        @include footer(absolute,0,100vw);
    }
}

//Media Query para tablet
@media screen and (min-width: 481px) and (max-width: 1200px){
body{
    header{
        justify-content: space-between;
        div{
            padding-left: 30px;
            h1{
                font-size: 40px;
            }
            i.icono-header{
                display: none;
            }
        } 
        nav{
            div.offcanvas-xl{
                -webkit-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                -moz-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                padding-left: 0;
                width: 300px !important;
                background-color: $color-fondo-secundario;
                div.offcanvas-header{
                    button.btn-close{
                        background-color: $color-font-principal;
                        opacity: 1;
                        border-radius: 50%;
                    }
                }
                div.offcanvas-body{
                    flex-grow: 0;
                    line-height: 3.5;
                    ul{
                        flex-direction: column;  
                        padding-left: 0;
                        padding-top: 70px;
                        li{
                            padding-left: 0;
                        }
                    }
                }
            }
        }  
    }
    main{
        padding: 0;
        grid-template-columns: 1fr;
        div.cita{
            padding: 40px 30px 25px 30px;
            h2{
                font-size: 22px;
                line-height: 2;
            }
        }
        div.botella{
            margin-left: 0;
            margin-top: 25px;
            background-size: 500px;
            background-position: center;
            img{
                width: 190px;
                height: 380px;
            }
        }
        div.botella-mediaquery{
            display: none;
        }
        section{
            height: 100%;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            display: grid;
            grid-template-columns: 1fr;
            h2{
                font-size: 30px;
                padding-bottom: 30px;
                padding-top: 30px;
            }
            h2.h2-mediaquery-degustar{
                padding-top: 60px;
                padding-bottom: 50px;
            }
            p{
                font-size: 20px;
                margin-bottom: 0;
                margin-top: 30px;
            }
            div, div.flechas{
                display: none;
            }
            iframe{
                width: 100%;
                height: 300%;
            }
        }
        section.section-media-query-tablet{
            margin-top: 5%;
            height: 80%;
            ul{
                padding-top: 0;
            }
        }
        div.icono-redes{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}
}


//Media Query para celular
@media screen and (max-width: 480px){
body{
    header{
        justify-content: space-between;
        div{
            padding-left: 20px;
            h1{
                font-size: 40px;
            }
            i.icono-header{
                display: none;
            }
        }
        nav{
            button.btn{
                right: 10px;
            }
            div.offcanvas-xl{
                -webkit-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                -moz-box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                box-shadow: 1px 1px 7px 5px rgba(98,29,0,1);
                padding-left: 0;
                width: 300px !important;
                background-color: rgb(15, 15, 15);
                div.offcanvas-header{
                    button.btn-close{
                        background-color: $color-font-principal;
                        opacity: 1;
                        border-radius: 50%;
                    }
                }
                div.offcanvas-body{
                    flex-grow: 0;
                    line-height: 3.5;
                    ul{
                        flex-direction: column;  
                        padding-left: 0;
                        padding-top: 70px;
                        li{
                            padding-left: 0;
                        }
                    }
                }
            }
        }  
    }
    main{
        padding: 0;
        grid-template-columns: 1fr;
        div.cita{
            padding: 40px 30px 10px 30px;
            h2{
                font-size: 22px;
                line-height: 2;
            }
        }
        div.botella{
            margin-left: 0;
            margin-top: 10px;
            img{
                width: 35%;
                height: 35%;
            }
        }
        div.botella-mediaquery{
            display: none;
        }
        section{
            width: 100vw;
            padding-left: 20px;
            padding-right: 20px;
            h2{
                font-size: 30px;
                padding-bottom: 15px;
                padding-top: 30px;
            }
            h2.h2-mediaquery-degustar{
                padding-top: 80px;
                padding-bottom: 50px;
            }
            p{
                font-size: 20px;
                margin-bottom: 0;
                margin-top: 15px;
            }
            ul{
                li{
                    font-size: 16px;
                }
            }
            div, div.flechas{
                display: none;
            }
        }
        div.icono-redes{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            a{
                p{
                    font-size: 30px;
                }
            }
        }
    }
}
}